!!!

%html
  %head
    %link{:rel => 'stylesheet', :href => '/stylesheet', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => '/javascript/jquery.js'}
    %script{:type => 'text/javascript', :src => '/javascript/polymer.js'}
  %body
    #header
      .wrapper
        .tag
          %span <strong class="name">Polymer</strong> is a <strong>Sinatra</strong> app
        %h1 Polymer
        %h4 Polyrhythmic goodness
    #content
      = yield