!main = #5b7
!link = #5ac

=wrap
  :margin 0 auto
  :width 700px

body
  :margin 0
  :padding 0
  :font-family 'helvetica', 'arial', 'sans'
  :font-size 75%
  :color #777

a
  :color = !link
  :text-decoration none
  &:hover
    :color = !link - #333
    :text-decoration underline

input
  :margin .3em 0
  &[type=text]
    :font-family 'monaco'
    :color #777
    :border 3px solid #eee
  &[type=submit]
    :margin 2em 0
    :padding .5em
    :display block
    :font-family 'helvetica', 'arial', 'sans'
    :font-size 1.2em
    :font-weight bold
    :color #333
    :background-color #eee
    :border 3px solid #eee
  &[type=button]
    :display block
    :font-family 'helvetica', 'arial', 'sans'
    :font-size 1em
    :color = !link
    :background-color #fff
    :border 3px solid #eee
  &.time
    :width 3em
  &.body
    :width 30em

form
  span
    &.valid
      input[type=text]
        :border-color #9da
    &.invalid
      input[type=text]
        :border-color #c8a

#header
  :padding 5em 0
  :background-color = !main
  :color = !main - #333
  .wrapper
    +wrap
    h1, h4
      :margin 0
      :color #fff
    .tag
      :float right
      :margin-top 1em
      .name
        :color #fff

#content
  +wrap
  h1
    :margin 1em 0 0
    :clear right
  .tag
    :float right
    :padding 0 1em .5em
    :background-color #eee
  #usage
    :margin-bottom 2em
    :border-bottom 1px solid #ddd
    :font-family 'georgia'
    :font-size 1.2em
    :font-style italic
    :color #999
  span
    :display block
    :font-family 'monaco'
    :color #bbb
  .mark
    :display inline
    :color #000
  .measure
    :margin 2em 0