%h1 New polyrhythm

%form{:method => "post", :action => "/new"}
  - 2.times do
    %span
      %input.time{:type=>"text", :name=>"polyrhythm[pattern_attributes][][time]"}
      %input.pattern{:type=>"text", :name=>"polyrhythm[pattern_attributes][][pattern]"}
  %input{:type=>"submit", :value=>"Create"}