%h1 New polyrhythm

%form{:method => 'post', :action => '/new'}
  - 2.times do
    %span
      %input.time{:type => 'text', :name => 'polyrhythm[patterns][][time]'}
      %input.body{:type => 'text', :name => 'polyrhythm[patterns][][body]'}
  %input{:type => 'button', :value => '+'}
  %input{:type => 'submit', :value => 'Create Polyrhythm'}