%h1 New polyrhythm

#usage
  %p Fill in the first box with the number of beats, and the second with the pattern. Make sure you have 2 characters for each beat, and the field will turn green once valid. <a href="#example">Click here</a> to see an example.

%form{:method => 'post', :action => '/new'}
  - 2.times do
    .pattern
      %select.time{:name => 'polyrhythm[patterns][][time]'}
        %option{:value => 4} 4
        %option{:value => 8} 8
        %option{:value => 16} 16
      %input.body{:type => 'text', :name => 'polyrhythm[patterns][][body]'}
      %span.timesig
  %input{:type => 'button', :value => '+'}
  %input{:type => 'submit', :value => 'Create'}