body {
  margin: 1em;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  color: #777777;
  background-color: #e5e4e0; }

a {
  color: #55aacc;
  text-decoration: none; }
  a:hover {
    color: #005577;
    text-decoration: underline; }

input {
  margin: 0.3em 0; }
  input[type=text] {
    font-family: monaco, consolas, monospace;
    color: #777777;
    border: 3px solid #e7e7e7; }
  input[type=submit] {
    margin: 2em 0;
    padding: 0.5em;
    display: block;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
    background-color: #e7e7e7;
    border: 3px solid #e7e7e7;
    border-radius: 5px; }
  input[type=button] {
    display: block;
    font-family: helvetica, arial, sans-serif;
    font-size: 1em;
    color: #55aacc;
    background-color: white;
    border: 3px solid #e7e7e7; }
  input.time {
    width: 3em; }
  input.body {
    width: 30em; }

form .pattern.valid input[type=text] {
  border-color: #99ddaa; }
form .pattern.invalid input[type=text] {
  border-color: #ee5577; }

#header {
  margin: 0 auto;
  width: 700px;
  overflow: hidden;
  padding: 4em 2em;
  background-color: #ffffcc;
  color: #cccc99;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
  #header span {
    float: right; }
    #header span .name {
      color: #aa9966; }

#content {
  margin: 0 auto;
  width: 700px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2em; }
  #content h1 {
    margin: 1em 0 0;
    clear: right; }
  #content .tag {
    float: right;
    padding: 0 1em 0.5em;
    background-color: #eeeeee; }
  #content .timesig {
    margin-left: 0.5em;
    font-weight: bold;
    color: #777777; }
  #content #usage {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #dddddd;
    font-family: georgia;
    font-size: 1.4em;
    font-style: italic;
    color: #777777; }
  #content .measure {
    margin: 2em 0; }
    #content .measure .bar {
      font-family: monaco, consolas, monospace;
      color: #bbbbbb; }
      #content .measure .bar span {
        color: black; }
