!!!

%html
  %head
    = stylesheet_link_tag :master
    = javascript_include_tag :jquery14, :polymer
  %body
    #wrapper
      #header
        %span <strong class="name">polymer</strong> is a <strong>Padrino</strong> application
      #content
        = yield